<section class="checkoutSection">
<p>Order Total: ${{ service.getGrandTotal() }}</p>

<h2>Shipping Address</h2>
<section class="shippingAddress">
  <label>First Name:
  <input type="text">  </label>
  <label>Last Name: 
  <input type="text"> </label>
  <label>Address: 
  <input type="text">  </label>
  <label>City:
  <input type="text">  </label>
  <label >State: 
  <input type="text">  </label>
  <label>Zip Code: 
  <input type="text"> </label>
</section>

<h2>Payment</h2>
<section class="cardInformation">
  <label>First Name: 
  <input type="text" class="form-control">  </label>
  <label>Last Name:
  <input type="text" class="form-control"> </label>
  <label>Card Number: 
  <input type="text" class="form-control" [(ngModel)]="ccNumber"/> </label>
  <label for="cvv">CVV 
  <input type="text" class="form-control"/> </label>
  <label>Expiration Date: 
  <select class="form-control" id="expiration-inputs">
    <option value="" selected disabled hidden>month</option>
    <option value="1">January</option>
    <option value="2">February</option>
    <option value="3">March</option>
    <option value="4">April</option>
    <option value="5">May</option>
    <option value="6">June</option>
    <option value="7">July</option>
    <option value="8">August</option>
    <option value="9">September</option>
    <option value="10">October</option>
    <option value="11">November</option>
    <option value="12">December</option>
  </select>
  <select class="form-control" id="expiration-inputs">
    <option value="" selected disabled hidden>year</option>
    <option value="21">2021</option>
    <option value="22">2022</option>
    <option value="23">2023</option>
    <option value="24">2024</option>
    <option value="25">2025</option>
  </select> </label>
  <!-- <button class="placeOrder" routerLink="/Receipt" (click)="validateCC">Place Order</button> -->
  <button class="placeOrder" (click)="validateCC()">Place Order</button>
</section>
</section>