.form-control {
     display: block;
     text-align: center;
     margin: 5px auto;
}
#expiration-inputs {
    color: lightslategray;
    margin: 5px auto;
}
.shippingAddress {
    display: block;
}

.shippingAddress label{
    display: block;
    margin: 5px 0;
}

.checkoutSection{
    /* margin-left: 50px; */
    text-align: center;
}

.placeOrder{
    margin: 10px 0;
}