.allResults {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px;
    
}
.itemResult {
    position: relative;
}
.favoriteBtn {
    position: absolute;
    top: 4px;
    right: 4px;
}

.resultsPage{
    display: flex;
    justify-content: center;
}