.allResults {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    
}
.itemResult {
    position: relative;
    flex: 1;
    flex-grow: 0;
}
.favoriteBtn {
    position: absolute;
    top: 4px;
    right: 4px;
}

.resultsPage{
    display: flex;
    justify-content: center;
}
h2 {
    padding-left: 10px;
  }
  a {
    padding-left: 10px;
  }