<h1>About Us</h1>
    <p>
        At US Products, we believe in the power of buying domestic products. When you buy American-made products you support your neighbors, your community, and the families that rely on your patronage. From kitchen items, to tools, to art, you can search for the item you are looking for and know that you are helping to support American businesses both big and small. We are striving to add more American businesses on our site as we grow so that you can search American made products with ease. Use our site to find your new favorite shop for your needs and wants and consider searching here first for high quality gifts for your friends and family.</p> 

    <p>
        Our creative team: 
        Shannon Hoey
        Andrea Flanders
        Kristina Kuzmanovski
        Alessia Hoey
    </p>
