<h2>Cart</h2>
<a routerLink="/Home">Keep Shopping</a>
<section class="cartItems">
    <div *ngFor="let item of service.cart; let myIndex = index" class='itemResult'>
        <img src='{{ item.images }}' class='itemImage'>
        <h3>{{ item.product_name }}</h3>
        <h3>Price: ${{ item.price }}</h3>
        <h3>Quantity: {{ item.quantity }}</h3>
        <h3>Item Total: ${{ item.price * item.quantity }} </h3>
        <button class="delete" (click)="removeFromCart(myIndex)">Remove</button>
    </div>
</section>
<section class="orderTotals">
    <p> Subtotal: ${{ service.getSubTotal() }}</p>
    <p> Tax: ${{ service.getTaxes() }}</p>
    <p> Order Total: ${{ service.getGrandTotal() }}</p>
    <button class="checkout" routerLink="/Checkout">Checkout</button>
</section>
