#links {
    display: none;
}

#links.open {
    display:block;
}

h1 {
    font-family: 'Rye', cursive;
    padding-left: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    padding: 0px 10px 0 0;
    margin-bottom: 10px;
    background-image: url('/assets/flagBanner.png');
    background-size:310px 115px;
    background-repeat: no-repeat;
}

.transbox{
    background-color: whitesmoke;
    opacity: .7;
    width: 310px;
    height: 100px;
}

