.applyDiv{
    display:flex;
    justify-content: center;
    margin: 15px 0; 
}

.advancedSearchSection{
    text-align: center;
    margin-top: 20px;
}

#big, #small{
    margin-left: 20px;
}

.adImg{
    width: 400px;
}