<h1 class="h1Header">A little more background....</h1>
<button routerLink="/Results">Back to my search</button>
<section class="detailsInfo">
    <div class="description">
        <img src='{{ item.images }}' class='itemImage'>
        <h3>{{ item.product_name }}</h3>
        <h2>Product Description</h2>
        <h3 class=stackwords>{{item.product_description}}</h3>
        <h3>Price: ${{ item.price }}</h3> 
        <h2> A little background on the company</h2>
        <h3>{{item.business_description}}</h3>
        <h2>Big or small company?</h2>
        <h3>{{ item.business_size}}</h3>
    </div>
</section>


     