* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, red, white, blue);
    margin: 0px;
}
.catHeader {
    text-decoration: none;
    color: black;
    font-family: 'Redressed', cursive;
    font-size: 35px;
    text-align: center;
    padding: 0;
    margin: 0;
}

.catBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    max-height: 150px;
    border: 1px solid black;
    background-color: lightskyblue;
    margin: 5px;
}

.homepageCat {
    text-decoration: none;
}

.catSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.itemImage {
    width: 300px;
    height: 300px;
}

.itemResult {
    text-align: center;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
}

#searchbox {
    margin-left: 5px;
    width: 80%;
    text-align: center;
    border-radius: 5px;
    border: solid 2px;
    margin: 0 auto;
    display: block;
    max-width: 500px;
}

.allResults {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    
}
.itemResult {
    position: relative;
    flex: 1;
    flex-grow: 0;
}

.resultsPage{
    display: flex;
    justify-content: center;
}

.h1Header {
    text-decoration: none;
    color: black;
    font-family: 'Redressed', cursive;
    font-size: 35px;
    text-align: center;
}

.h2Header {
    text-decoration: none;
    color: black;
    font-family: 'Redressed', cursive;
    text-align: center;
    padding: 0;
    margin: 0;
}
.advancedSearch {
    font-family: 'Redressed', cursive;
}

.newSearch {
    text-decoration: none;
    padding: 0;
    margin: 0;
    color:black;
    font-family: 'Redressed', cursive;
}

@media screen and (min-width: 1025px) {
    #nav {
        display:none;
        
    }
    #links {
        display:flex;
        flex-direction: row;
        padding: 10px;
        margin-bottom: 10px;
        justify-content: flex-end;
        text-decoration: none;
        color:black;
        margin: 0px 5px;
        font-size: 24px;
    }
    .transbox{
        background-color: whitesmoke;
        position:absolute;
        top: 0;
        width: 290px;
        height: 100px;
        opacity: .5;
        background-image: url('/assets/flagBanner.png');
        background-size:290px 115px;
        background-repeat: no-repeat;
    }
}
@media screen and (min-width: 1025px){
    .allResults {
        width: 950px;
    }
  }

@media screen and (min-width: 1325px) {
    #nav {
        display:none;
        
    }
    #links {
        display:flex;
        flex-direction: row;
        padding: 10px;
        margin-bottom: 10px;
        justify-content: flex-end;
        text-decoration: none;
        color:black;
        margin: 0px 5px;
        font-size: 24px;
    }
    .transbox{
        background-color: whitesmoke;
        position:absolute;
        top: 0;
        width: 290px;
        height: 100px;
        opacity: .5;
        background-image: url('/assets/flagBanner.png');
        background-size:290px 115px;
        background-repeat: no-repeat;
    }
    .allResults {
        width: 1400px;
    }
}
