<!-- Promo Banner -->
<h1 class="h1Header">Welcome to Star Spangled Products!</h1>
<!-- Images -->
<div class="homeImg">
    <img src="..\assets\clothing.jpg" alt="American Clothing">
    <img src="..\assets\pets and animals.jpg" alt="American Dog">
    <img src="..\assets\home decor.jpg" alt="American Decor">
</div>
<!-- <img class='banner' src='\assets\flagBanner.png'> -->
<!-- Search -->
<h2 class="h2Header">Search for American Made Products</h2>
<input type="text" id="searchbox" placeholder="ex. jeans" [(ngModel)]="itemSearch">
<div class="searchDiv">
<button class="searchButton" type="button" (click)="getFilteredItems()">Search</button>
<a class="advancedSearch" routerLink="/AdvancedSearch">Advanced Search</a>
</div>
<!-- Category Section -->
<section class='catSection'>
<a *ngFor="let category of service.categories" [routerLink]="" class = 'homepageCat' (click)="getCatResults(category)" >
    <div class="catBox">
        <h3 class="catHeader">{{ category }}</h3>
    </div>
</a>
<a routerLink="/Categories" class = 'homepageCat'>
    <div class="catBox">
        <h3 class="catHeader">Browse All Categories</h3>
    </div>
    
</a>
</section>