<!-- Promo Banner -->
<!-- <img class='banner' src='\assets\flagBanner.png'> -->
<!-- Search -->
<input type="text" id="searchbox" placeholder="search items" [(ngModel)]="itemSearch">
<a class="advancedSearch" routerLink="/AdvancedSearch">Advanced Search</a>
<button class="searchButton" type="button" (click)="getFilteredItems()">Search</button>
<!-- Category Section -->
<section class='catSection'>
<a *ngFor="let category of service.categories" [routerLink]="" class = 'homepageCat' (click)="getCatResults(category)" >
    <div class="catBox">
        <h3 class="catHeader">{{ category }}</h3>
    </div>
</a>
<a routerLink="/Categories" class = 'homepageCat'>
    <div class="catBox">
        <h3 class="catHeader">Browse All Categories</h3>
    </div>
    
</a>
</section>





<!-- <h3>Category 1</h3>
<h3>Category 2</h3>
<h3>Category 3</h3>
<h3>Browse All</h3> -->