<!-- Promo Banner -->
<!-- <img class='banner' src='\assets\flagBanner.png'> -->
<!-- Search -->
<input type="text" id="searchbox" placeholder="search items" [(ngModel)]="itemSearch">
<a href="">Advanced Search</a>
<button type="button" (click)="getFilteredItems()">Search</button>
<!-- Category Section -->
<section class='catSection'>
<a *ngFor="let category of service.categories" [routerLink]="" class = 'homepageCat' (click)="getCatResults(category)" >
    <h3>{{ category }}</h3>
</a>
<a routerLink="/Categories" class = 'homepageCat'>
    <h3>Browse All Categories</h3>
</a>
</section>





<!-- <h3>Category 1</h3>
<h3>Category 2</h3>
<h3>Category 3</h3>
<h3>Browse All</h3> -->